* {
    background-color: bisque;
    margin: 0 auto;
}
.counter{
    margin-top: 50px;
    width: 500px;
    height: 200px;
    padding-top: 70px;
   text-align: center;
   border: 2px solid red;
   border-radius: 12px;
}
.btn-count{
    display: flex;
    justify-content: space-around;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(112, 182, 8);
}
.btn{
    border-radius: 5px;
    background-color: green;
    color: rgb(231, 221, 221);
}

